@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model PuffyAmiYumi.Models.Order
<h1>Finalize Your Cart!</h1>
<section>
    <div class="col-md-8 order-md1 checkout container container-fluid">
        <form class="card-form container-fluid" asp-controller="Checkout" asp-action="ConfirmCheckout" method="post">
            <h4 class="card-text text-center"> Shipping Address </h4>

            <div class="row">

                <div class="col-md-4 mb-2">
                    <input type="text" asp-for="FullName" placeholder="Full Name" name="FullName" />
                </div>
                <div class="col-md-4 mb-2">
                    <input type="text" asp-for="Street" placeholder="Street Address" name="Street" />
                </div>
                <div class="col-md-4 mb-2">
                    <input type="text" asp-for="Business" placeholder="Address 2" name="Business" />
                </div>

            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label asp-for="Country"></label>
                    <select asp-for="Country" class="custom-select d-block w-100
                                input-medium bfh-countries" id="countries_states1" data-country="US" required>
                        <option selected disabled hidden>Choose a country</option>
                    </select>
                    <span asp-validation-for="Country" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="State">State/Province/Prefecture</label>
                    <select asp-for="State" class="custom-select d-block w-100
                                input-medium bfh-states" data-country="countries_states1" required>
                        <option value="">Please choose a state</option>
                    </select>
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
            </div>
            <div class="row">

            </div>
            <div class="col-md-3 mb-3">
                <label asp-for="City"></label>
                <input asp-for="City" type="text" class="form-control" id="city"
                       placeholder="Townsville" required>
                <span asp-validation-for="City" class="text-danger"></span>
                <input type="text" asp-for="Zip" placeholder="Zip" name="Zip" />
                <input type="tel" asp-for="PhoneNumber" placeholder="Phone Number" name="PhoneNumber" />
                <input type="text" asp-for="Email" placeholder="Email" name="Email" />
            </div>



            <br />
            <h4 class="card-text text-center"> Billing </h4>

            <div class="row">
                <div class="col-md-4 mb-10">
                    <input type="text" asp-for="NameOnCard" placeholder="Name on Card" name="NameOnCard" />
                </div>
                <div class="col-md-4 mb-3">
                    <input type="text" asp-for="CreditCard" placeholder="Credit Card" name="CreditCard" />
                </div>
            </div>




            <div class="container-fluid">
                <button type="submit" asp-controller="Checkout" asp-action="CollectOrderInformation" class="btn btn-outline-primary text-dark">Proceed With Checkout</button>
            </div>
        </form>


    </div>

</section>