/*.product{
    width: 30%;
    display: inline-block;    
}*/
/*.holdproducts {
    margin: 1rem;
    justify-content: center;
    width:40%;
    display: inline-block;
}*/
/*.container{
    flex: 1;
    padding:30px;
}*/
.productIMG {
    padding-right: 10px;
    width: 80%;
    /*height: 200px;*/
}
#icon-img {
    outline: 2px;
    outline-color: aqua;
    width: 20px;
    padding-right: 10px;
    height: 20px;
}
.userName{
    font-size: 25px;
    font-weight: bolder;
}
h5 {
    font-weight: bold;
}
/*.card-form{
    padding-top: 50px;
}
#card-form{
    padding-top: 50px;
}*/
.checkout{
    outline: 4px solid red;
}
/*.row{
    width: 100%;

}*/
/*.title{
    text-overflow: '' !important;
    font-size: 2vw;
}
.contain{
    text-overflow:inherit;
    height:15% !important;
    text-overflow: '' !important;
    display: inline-block;
}*/
.login-div {
    padding-top: 60px;
}
.cart-icon {
    width: 20px;
    padding-right: 10px;
    height: 20px;
}
#cart-icon {
    width:30px;
    padding-right: 10px;
}
.SMicon {
    width:30px;
}
#SMicon {
    width:30px;
}