@model Cart

<h4>My Cart</h4>
@foreach (CartItem item in Model.CartItems)
{
    <p>@item.ProductName</p>
    <p></p>
}

<button asp-controller="Profile" asp-action="Index" class="btn btn-outline-primary btn-lg btn-block">Proceed With Checkout</button>
