
@{
    Layout = "_Layout";
}

<main>
    <div class="card-img-overlay login-div">
        <form class="card-form" asp-controller="Account" asp-action="Login">
            <h4 class="card-text"> Login </h4>
            <input type="text" placeholder="Email" name="Email" />
            <input type="password" placeholder="Password" name="Password" />
            <br /><button type="submit" class="btn btn-outline-primary text-dark">Log In</button>
        </form>
    </div>
</main>