<main>
        <div class="card-img-overlay login-div">
            <form class="card-form" asp-controller="Account" asp-action="Register">
                <h4 class="card-text"> Create a Username </h4>
                <input type="text" placeholder="First Name" name="FirstName" />
                <input type="text" placeholder="Last Name" name="LastName" />
                <input type="text" placeholder="Username" name="Username" />
                <input type="password" placeholder="Password" name="Password" />
                <input type="password" placeholder="Confirm Password" name="ConfirmPassword" />

                <input type="text" placeholder="Email" name="Email" />
                @*<input type="text" placeholder="Confirm Email" name="ConfirmEmail" />*@

                <input type="date" placeholder="Birthday" name="Birthday" />

                <br /><button type="submit" class="btn btn-outline-primary text-dark">Create New Account</button>
            </form>
        </div>
</main>