@model Order

<h4>Orders</h4>
@foreach (OrderItems item in Model.Order)
{
    <p>@item.ItemName</p>
}

    <button asp-controller="Order" asp-action="OrderDetails" class="btn btn-outline-primary btn-lg btn-block">Proceed to Order</button>